html, body{
	margin : 0;
	height : 100%
}

p{
	color : green;	
}
h1{
	color : rgb(19, 8, 48);
}
.error{
	color : red;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.button:hover{
	 background-color: rgb(78, 154, 6); /* Green */
	 cursor : pointer; 
}
.button:active{
	 padding: 10px 20px;
}

