html, body{
	margin : 0;
	height : 100%
}

p{
	color : rgb(46, 52, 54);	
}
h1{
	color : rgb(19, 8, 48);
}
.error{
	color : red;
}
.oauth-button {
  background-color: #4CAF50; /* Green */
  border-radius : 5px;
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.oauth-button:hover{
	 background-color: rgb(78, 154, 6); /* Green */
	 cursor : pointer; 
	 text-decoration : none;
	 color : #ffffff;
}
.oauth-button:active{
	 padding: 10px 20px;
}

