<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>OAuth in Action: OAuth Authorization Server</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<style>
	body {
	  padding-top: 00px;
	}
	.navbar-inverse {
		background-color: #322;
	}
	</style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">OAuth in Action: <span class="label label-danger">OAuth Authorization Server</span></a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="jumbotron">
		<div th:class="${show_error}">
			<h2>Error! Unknown client. </h2>
		</div>
		<div th:class="${show_aprove}">
		  <h2>Approve this client?</h2>
		  <p><b>Name:</b> <span th:text="${client_name}"></span></p>
		  <p><b>ID:</b> <span th:text="${client_id}"></span></p>
		  <p><b>URI:</b> <span th:text="${client_uri}"></span></p>
		
		   <form class="form" action="/approve" method="POST">
			   <input type="hidden" name="reqid" th:value="${reqid}" />
 				<ul class="list-group" th:each="scope : ${scopes}">
				  <li class="list-group-item">
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" th:name="'scope_' + ${scope}" th:id="'scope_' + ${scope}" checked="checked"><label class="label label-success" th:for="'scope_' + ${scope}" th:text="${scope}"></label>
 					</div>
				  </li>
 				</ul>	
			   <input type="submit" class="btn btn-success" name="approve" value="Approve">
			   <input type="submit" class="btn btn-danger" name="deny" value="Deny">
		   </form>
		
     
      </div>
 
    </div><!-- /.container -->
	
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
  </body>
</html>
